@import url('https://fonts.googleapis.com/css?family=Dosis');

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 64px;
    margin: auto;
    text-align: center;
}



table, button, input {
    border: 1px solid black;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
}

html {
    background-color: rgb(255, 200, 200);
    
}

body {
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 50px;
    
    border-style: solid;
    border-width: thick;
    background-color: rgb(150, 150, 150);
}

#inputElements {
    padding-left: 20px;
}

li {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.deleteButton {
    margin-left: 10px;
}